#package section{
padding: 50px 20px; background: #92bbd5; 
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.pricing-container{
display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;
padding: 30px;
}
.section-title{
font-size: 28px; color: #333;
margin-bottom: 30px;
padding-top: 50px;
}
.light-bg {
  background: #ffffff;
}

.pricing-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.price-card {
  background: #f8fafc;
  border: 2px solid #ddd;
  padding: 30px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  transition: 0.3s;
}
.price-card{
    background: #f8fafc;
    border: 2px solid #1fed29;
    padding: 30px;
    border-radius: 12px;
    width: 280px;
    text-align: center;
    transition: 0.3s;
}
.price-card:hover {
  border-color: #22afc5;
    transform: scale(1.05);
}

.price-card.best {
  border: 3px solid rgb(255, 255, 0);
  transform: scale(1.05);
}
.price-card.best:hover {
  border-color: #e61414;
  transform: scale(1.1);
}
.price {
  font-size: 24px;
  color: #0284c7;
  margin: 15px 0;
}

.price-card ul {
  list-style: none;
  margin: 20px 0;
}

.price-card li {
  margin-bottom: 8px;
}

.ctr-btn {
  background: #ff4500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.ctr-btn:hover {
  background: #e61414;
}
